<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">用户信息</span>
                    {% if frontuser %}
                    <a class="more" href="{% url 'profile' %}">更多</a>
                    {% endif %}
                
                </div>
                {% if frontuser %}
                

                <div style="width: 345px;height: 60px;border-bottom: 1px solid #f2f2f2">
                    <div style="float: left;margin-left:15px;width: 50px;height: 50px;">
                         <a href="#">
                             {% if frontuser.avatar %}
                                 <img style="width: 100%;height: 100%" src="/static/images/{{ frontuser.avatar }}" alt="">
                                 {% else %}
                                 <img style="width: 100%;height: 100%" src="/static/images/avatar.jpg" alt="">
                             {% endif %}

                        </a>
                    </div>
                    <div style="line-height: 50px;font-size: 18px;margin-left: 10px;float: left">
                        <p><a href="{% url 'profile' %}">{{ frontuser.username }}</a></p>
                    </div>
                </div>
                {% else %}
                    <div style="width: 345px;height: 60px;border-bottom: 1px solid #f2f2f2">
                    <div style="float: left;margin-left:15px;width: 50px;height: 50px;">
                         <a href="#">
                        <img style="width: 100%" src="{% static 'images/avatar.jpg' %}" alt="">
                        </a>
                    </div>
                    <div style="line-height: 50px;font-size: 18px;margin-left: 10px;float: left">
                        <p>请登录</p>
                    </div>
                </div>

                {% endif %}
                <div style="width: 345px;height: 46px;">
                    <div style="padding: 26px;overflow: hidden;text-align: center">
                        <ul style="list-style: none;">
                            <li style="float: left"><a href="">发布信息 </a></li>
                            <li style="float: left;margin-left: 20px;color: #f2f2f2">|</li>
                            <li style="float: left;margin-left: 20px"><a href="">留言 </a></li>
                            <li style="float: left;margin-left: 20px;color: #f2f2f2">|</li>
                            <li style="float: left;margin-left: 20px"><a href="">回复</a></li>
                        </ul>
                    </div>
                </div>
                <div style="padding: 20px;border-bottom: 1px solid #f2f2f2">
                    {% if frontuser %}
                        <button style="width: 100%" id="subres-btn" type="button" class="layui-btn layui-btn-danger">
                        {% if frontuser.role == 1 %}
                        发布招聘信息
                         {% else %}
                         发布求职信息
                        {% endif %}
                        </button>
                    {% endif %}

                </div>

                <div style="background: #FFC0CB;height: 20px;"></div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">最新公告</span>
                    </div>
                    <ul class="hot-list-group">

                           <li style="margin-bottom: 10px">
                            <div class="left-group">
                                <p class="title">
                                    <a href=""></a>
                                </p>
                                <p class="more">
                                    <span class="category">

                                    </span>
                                    <span class="pub-time"></span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>