<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>小白家政后台管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/admin_signin.css' %}" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/admin_signin.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <label class="sr-only">用户名</label>
        <input type="text"  class="form-control" name='username' placeholder="用户名" >

          <label  class="sr-only">密码</label>

        <input type="password" id="inputPassword" class="form-control" name='password' placeholder="密码" >

        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember" value="1"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">立即登录</button>
      </form>
    </div>
    <p style="display:none;color:red;text-align:center;" class="text-danger" id="message-p"></p>
  </body>
</html>